<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.max2.payment_intent_demo">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppDemoTheme">

        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.AlternativeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".receivers.PaymentsBroadcastReceiver">
            <intent-filter>
                <action android:name="com.max2.veeaconnect.Payments" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.RefundBroadcastReceiver">
            <intent-filter>
                <action android:name="com.max2.veeaconnect.Refund" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.AuthenticationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.max2.veeaconnect.Authentication" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.ChangePasscodeBroadcastReceiver">
            <intent-filter>
                <action android:name="com.max2.veeaconnect.PasscodeManagement" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.SelectTransactionLogBroadcastReceiver">
            <intent-filter>
                <action android:name="com.max2.veeaconnect.SelectTransaction" />
            </intent-filter>
        </receiver>
    </application>
</manifest>